shallow_clone: true

version: '{branch}/{build}'

build:
  verbosity: detailed
  parallel: true

max_jobs: 4

image:
- Visual Studio 2013
- Visual Studio 2015
- Visual Studio 2017

platform:
- x86
- x64

configuration:
  - Debug
  - Release

environment:
  matrix:
  - COMPILER: msys2
    PLATFORM: x64
    MSYS2_ARCH: x86_64
    MSYS2_DIR: msys64
    MSYSTEM: MINGW64
    BIT: 64

before_build:
  - echo %APPVEYOR_BUILD_NUMBER%
  - echo %APPVEYOR_BUILD_VERSION%
  - echo %APPVEYOR_PULL_REQUEST_NUMBER%
  - echo %APPVEYOR_PULL_REQUEST_TITLE%
  - echo %APPVEYOR_PULL_REQUEST_HEAD_REPO_NAME%
  - echo %APPVEYOR_PULL_REQUEST_HEAD_REPO_BRANCH%
  - echo %APPVEYOR_PULL_REQUEST_HEAD_COMMIT%
  - echo %APPVEYOR_REPO_NAME%
  - echo %APPVEYOR_REPO_BRANCH%
  - echo %APPVEYOR_REPO_COMMIT%
  - echo %APPVEYOR_REPO_COMMIT_AUTHOR%
  - echo %APPVEYOR_REPO_COMMIT_MESSAGE%
  - echo %APPVEYOR_REPO_COMMIT_MESSAGE_EXTENDED%
  - echo %PLATFORM%
  - echo %CONFIGURATION%
  - git clone --depth 1 git://github.com/nim-lang/Nim.git
  - cd Nim
  - set APPVEYOR_COMMIT_RANGE="FETCH_HEAD...%APPVEYOR_REPO_COMMIT%"
  - echo %APPVEYOR_COMMIT_RANGE%
  - git diff --name-only %APPVEYOR_COMMIT_RANGE%
  - git diff --name-only %APPVEYOR_COMMIT_RANGE% | grep -vE '(\.md$)|(\.txt$)(\.rst)|(^(doc|icons|web|))/'

build_script:
#  - dir c:\
#  - dir c:\Tools
#  - dir c:\MinGW
#  - dir c:\MinGW\bin
#  - dir c:\mingw-w64
#  - dir c:\mingw-w64\x86_64-6.3.0-posix-seh-rt_v5-rev1
#  - dir c:\mingw-w64\x86_64-6.3.0-posix-seh-rt_v5-rev1\mingw64
#  - dir c:\msys64
#  - dir c:\msys64\mingw32
#  - dir c:\msys64\mingw64
#  - git --version --build-options
#  - c:\MinGW\bin\gcc --version
#  - c:\mingw-w64\i686-6.3.0-posix-dwarf-rt_v5-rev1\mingw32\bin\gcc --version
#  - c:\mingw-w64\x86_64-6.3.0-posix-seh-rt_v5-rev1\mingw64\bin\gcc --version
  - c:\msys64\mingw32\bin\gcc --version
  - c:\msys64\mingw64\bin\gcc --version

test_script:
  - echo Test
  - grep --version
